In [19]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [2]:
obj = Series([4, 7, -5, 3])

obj.values 返回数组表示形式; obj.index返回index索引对象
创建Series可带有指定索引。

In [21]:
obj2 = Series([1,7,-5,3], index=['d', 'b', 'a', 'c'])

直接从python字典创建Series, index的顺序为原字典的键的有序排列

In [23]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [28]:
obj3 = Series(sdata)

In [26]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = Series(sdata, index=states)

pandas的isnull和notnull用于检测缺失数据
pd.isnull(obj4)
pd.notnull(obj4)

Series对象本身及其索引都有一个name属性
obj4.name='population'
obj4.index.name = 'state'

Serie对象的index可直接赋值修改
obj.index =  ['Bob', 'Steve', 'Jeff' , 'Ryan']

DataFrame的构建
通过传入等长列表或numpy数组组成的字典

In [49]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
             'year': [2000, 2001, 2002, 2001, 2002],
             'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}

In [41]:
frame = DataFrame(data)

若指定了DataFrame的列， 则会按照指定顺序排列。 
DataFrame(data, columns=['year', 'state', 'pop'])
如果指定列不存在， 则会产生NA值

In [50]:
frame2 = DataFrame(data, columns=['year', 'state', 'pop', 'debt'], index=['one', 'two', 'three', 'four', 'five'])

通过行索引获取DataFrame的数据，使用ix
直接对frame不存在的列赋值会创建新的列， 用del删除列

嵌套的字典传入DataFrame， 外层的键作为列， 内层的键作为行索引. 内层的字典键会被合并，最后排序完作为索引

In [60]:
pop = {'Nevada': {2001:2.4, 2002: 2.9}, 'Ohio': {2000:1.5, 2001: 1.7, 2002: 3.6}}

In [61]:
frame3 = DataFrame(pop)

DataFrame的构造器数据
![dataframe constructor](images/dataFrame_constructor.PNG)

index对象是不可修改的。这样才能是index对象在多个数据结构之间安全共享。
下面是pandas中主要的index对象
![index object](images/index.PNG)

![index method and property](images/index_method.PNG)

In [81]:
obj = Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])

通过reindex对索引从新排列，原来不存在的索引会产生NA值。 method选项可以对新产生的NA值进行操作
![reindex method options](images/reindex_method.PNG)

In [89]:
frame = DataFrame(np.arange(9). reshape((3,3)), index=['a', 'c', 'd'],
                                 columns=['Ohio', 'Texas', 'California'])

In [91]:
frame2 = frame.reindex(['a', 'b', 'c', 'd'])

In [93]:
states = ['Texas', 'Utah', 'California']
frame.reindex(columns=states)

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

使用drop丢弃指定轴的项
obj = Series(...)
obj.drop([...])
frame = DataFrame(....)
frame.drop([...])
frame.drop([...], axis=1)

DataFrame的索引选项
![DataFrame index](images/dataframe_index1.PNG)
![DataFrame index](images/dataframe_index2.PNG)

DataFrame的apply方法可以将函数应用在行或者列上

In [109]:
frame = DataFrame(np.random.randn(4,3), columns=list("bde"), index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [124]:
f = lambda x: Series([x.min(), x.max()], index=['min', 'max'])
frame.apply(f, axis=0)

            b         d         e
min -1.016017  0.041446 -0.908402
max  1.854007  1.348608 -0.226350

obj = Series(range(4), index=list("dabc"))
obj.sort_index()
obj.order()

frame = DataFrame(....)
frame.sort_index(axis=..., ascending=...)
按照值排序
frame.sort_index(by = ...)

使用rank对Series和DataFrame排名
![rank method](images/rank_method.PNG)

In [129]:
obj = Series([7, -5, 7, 4, 2, 0, 4])

In [135]:
obj.rank(method='max',ascending=False)

0    2.0
1    7.0
2    2.0
3    4.0
4    5.0
5    6.0
6    4.0
dtype: float64

统计函数
![statistic func](images/statistic_func.PNG)

In [153]:
df = DataFrame([[1.4, np.nan], [7.1, -4.5], [np.nan, np.nan], [0.75, -1.3]], 
                           index=['a', 'b', 'c', 'd'], columns=['one', 'two'])

obj = Series(['a', 'a' , 'b', 'c' ] * 4)

In [156]:
df.sum(axis=1,skipna=False)
df.idxmax()
df.cumsum(skipna=False)
df.describe()
obj.describe()
df.count()

one    3
two    2
dtype: int64

相关系数与协方差

In [157]:
import pandas.io.data as web
all_data = {}
for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']:
    all_data[ticker] = web.get_data_yahoo(ticker, '1/1/2000', '1/1/2010')

price = DataFrame({tic:data['Adj Close'] for tic, data in all_data.iteritems()})
volume = DataFrame({tic: data['Volume'] for tic, data in all_data.iteritems()})

ImportError: The pandas.io.data module is moved to a separate package (pandas-datareader). After installing the pandas-datareader package (https://github.com/pydata/pandas-datareader), you can change the import ``from pandas.io import data, wb`` to ``from pandas_datareader import data, wb``.